@using DOMAIN.MODELS

@{
    ViewData["Title"] = "Listar Clientes";
}

<div class="container mt-4">
    <div class="d-flex mb-4 justify-content-between">
        <h2 class="text-primary fw-bold">Clientes Cadastrados</h2>
        <a asp-controller="Cliente" asp-action="UpsertCliente" class="btn btn-primary fw-bold">Cadastrar Cliente</a>
    </div>

    <div class="row bg-primary text-white text-center py-3 px-3 rounded-top fw-bold shadow-sm mx-0">
        <div class="col-1 text-center">ID</div>
        <div class="col-2">Nome</div>
        <div class="col-2 text-center">CPF</div>
        <div class="col-3 text-center">E-mail</div>
        <div class="col-2 text-center">Telefone</div>
        <div class="col-2 text-center">Opções</div>
    </div>

    <div class="bg-white shadow-sm rounded-bottom">
        @foreach (ClienteModel cliente in Model)
        {
            <div class="row border-bottom py-3 px-3 align-items-center mx-0">
                <div class="col-1 text-secondary text-center">
                    @cliente.IdCliente
                </div>
                <div class="col-2 fw-semibold">
                    @cliente.Nome
                </div>
                <div class="col-2 text-center">
                    @cliente.Cpf
                </div>
                <div class="col-3 text-center">
                    @cliente.Email
                </div>
                <div class="col-2 text-center">
                    @cliente.Telefone
                </div>
                <div class="col-2 text-end">
                    <a class="btn btn-success fw-bold" asp-controller= "Cliente"asp-action="UpsertCliente" asp-route-IdCliente="@cliente.IdCliente">Editar</a>
                    <a class="btn btn-danger fw-bold" asp-controller="Cliente" asp-action="ExcluirCliente">Excluir</a>
                </div>
            </div>
        }
    </div>
</div>